@font-face
  font-family: 'digital-dismay'
  src: url('../fonts/digital-dismay.woff.ttf') format('truetype')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'alternate'
  src: url('../fonts/DIN Alternate Bold.ttf') format('truetype')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'PingFang'
  src: url('../fonts/PingFang Medium.ttf') format('truetype')
  font-weight: normal
  font-style: normal
  font-display: swap